.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 70px 170px;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 600;
}
.service-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.service-format h3{
    font-size: 28px;
    font-weight: 600;
}
.service-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(267deg,#3725da 0.36%,#1adf73);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service-format p{
    color:aliceblue;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
}
.service-format:hover{
    border:2px solid #1adf73;
    background-image:linear-gradient(267deg,#970f4f 0.36%,#a83b7e) ;
    transform: scale(1.05);
    transition: 0.4s;

} 
.service-readmore{
    display: flex;
   
}
.service-readmore i{
   margin-top: 14px;
   margin-left: 9px;
   
}
@media(max-width:768px) {
    .services{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }
    .services-title h1{
        padding: 0;
        font-size: 50px;
    }
    .service-format{
        gap: 20px;
        padding: 32px;

    }
    .service-format h2{
        font-size: 29px;
    }
     .service-format p{
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;

    }
   
        

    .services-container{
        grid-template-columns:  1fr 1fr;
        gap: 30px;
    }

}