.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 36px;

}
.hero img{
    margin-top: 40px;
    height: 400px;
    width: 360px;
    border-radius: 50%;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 500;
}
.hero h1 span{
    background: linear-gradient(267deg,#3725da 0.36%,#1adf73);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 26px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    cursor: pointer;
     background: linear-gradient(267deg,#3725da 0.36%,#1adf73);
}
.hero-resume{
       padding: 20px 45px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid white;
}
.hero-connect:hover{
    border:2px solid white;
}
.hero-resume:hover{
    border-color: rgb(73, 26, 243);
}

@media(max-width:768px){
    .hero img{
        margin-bottom: 20px;
        width: 250px;
        height: 250px;

    }
    .hero h1{
       margin-top: 20px;
       width: 90%; 
       font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 50px;
}
.hero-connect{
    padding: 29px 37px;
    border-radius: 40px;
}
.hero-resume{
    padding: 20px 50px;
    border-radius: 40px;
}

}