.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;

}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    cursor: pointer;
    transition: 0.3s;

}
.mywork-container img:hover{
    transform: scale(1.10);
    border :4px solid rebeccapurple;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore{
display: flex;
padding: 20px;
gap: 15px;
border-radius: 50px;
border:2px solid white;
font-size:22px ;
font-weight: 500;
margin-bottom: 80px;
transition: 0.6s;
cursor: pointer;
}
.mywork-showmore:hover{
gap: 30px;
transition: 0.6s;
}
@media(max-width:768px){
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;

    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 10px -20px;
    }
    .mywork-container img{
        width: 80%;
        height: 70%;
    }
    .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 20px auto;
        cursor: pointer;
    }
}
@media(max-width:500px){
    .mywork{
        gap: 30px;
        margin: 20px 60px;
        align-items: center;
    }
    .mywork-title h1{
    
        font-size: 35px;
        font-weight: 600;

    }
  @media (max-width: 500px) {
  .mywork-container {
    grid-template-columns: 1fr;
    justify-items: center;   
  }

  .mywork-container img {
    width: 100%;              
    max-width: 900px;        
    height: auto;
  }
}
    .mywork-showmore{
        padding: 10px 20px;
        font-size: 15px;
        margin: 10px auto;
        cursor: pointer;
    }
}