.about{
    display: flex;
    flex-direction: column;
    align-items: cener;
    justify-content: center;
    margin: 30px 180px;
    gap: 80px;
}
.about-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 400;
}
.about-section{
    display: flex;
    gap: 60px;
}
.about-left img{
    height: 400px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 24px;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    align-items: center;
    gap :50px;
    transition: 0.3s;

}
.about-skill p{
    min-width: 160px;
    font-size: 24px;
    font-weight: 500;

}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(267deg,#3725da 0.36%,#1adf73);
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievments{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
}
.about-achievment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;

}
.about-achievment:hover{
     transform: scale(1.12);
    transition: 0.5s;
}
.about-achievment h1{
    font-size: 60px;
    font-weight: 700;
    background:linear-gradient(267deg,#3725da 0.36%,#1adf73) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievment p{
    font-size: 22px;
    font-weight: 500;
}

@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1{
        font-size: 50px ;
        padding: 0;
    }
    .about-section{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .about-skill{
        gap: 20px;
        align-items: center;

    }
    .about-skill p{
     font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-achievment{
        gap: 10px;
    }
    .about-achievment h1{
        font-size: 34px;
        font-weight: 700;
    }
    .about-achievment p{
        text-align: center;
        font-size: 16px;
    }


}
