*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 70px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 24px;
    gap:60px;
}
.nav-menu li {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-bottom: 3px;
  transition: color 0.3s ease;
}

.anchor-link{
  text-decoration: none;
  color: white;
}

.nav-connect{
    padding: 17px 30px;
    border-radius: 50px;
    background:linear-gradient(267deg,#3725da 0.36%,#1adf73);
    font-size:22px;
    cursor: pointer;
    transition: 0.6s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.close-icon{
    display: none;
}
.open-icon{
    display: none;
}

.nav-menu li p {
  padding: 6px 12px;
  border-radius: 12px;
  transition: background 0.3s ease;
}

.nav-menu li.active p {
  background: #00b4d8;
  color: white;
}





@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .open-icon{
  display: block;
        position: fixed;
        right: 30px;  
        font-size: 39px;    
    }
    .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  color: white;
  cursor: pointer;
  display: block;
}

    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0;
        gap: 30px;
        background-color: rgb(40, 39, 114);
        width: 350px;
        height: 100%;
        z-index: 1;
        transition: right 0.5s  ;
        right: -350px;

    }
    .nav-menu li{
        font-size: 22px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;

    }
}
@media(max-width:500px){
    .navbar{
        margin: 30px 10px;
    }
 
}
